:root{
    --blue:#2980b9;
    --black:#333;
    --white:#fff;
    --light-color:#777;
    --light-bg:#eee;
    --box-shadow:0 5px 10px rgba(0,0,0,.1);
}
*{
    margin: 0;
    font-family:arial;
    border: border-box;
}
html{
    /* font-size: 62.5%; */
    scroll-behavior: smooth;
}
body{
    background:linear-gradient(45deg,#500472 ,rgb(1, 209, 189));
    height: 100;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5;

}
.wrapper span{
    position: fixed;
    bottom: -180px;
    height: 50px;
    width: 50px;
    z-index: -1;
    background-color: #18191f;
    box-shadow: 0 0 50px #00ffff,
                0 0 100px #00ffff,
                0 0 150px #00ffff,
                0 0 200px #00ffff ;
    animation: animate 10s linear infinite;
}
.wrapper span:nth-child(1){
    left: 60px;
    animation-delay: 0.6s;
}
.wrapper span:nth-child(2){
    left: 10%;
    animation-delay: 3s;
    width: 60px;
    height: 60px;
}
.wrapper span:nth-child(3){
    left: 20%;
    animation-delay: 2s;
}
.wrapper span:nth-child(4){
    left: 30%;
    animation-delay: 5s;
    width: 80px;
    height: 80px;
}
.wrapper span:nth-child(5){
    left: 40%;
    animation-delay: 1s;
}
.wrapper span:nth-child(6){
    left: 50%;
    animation-delay: 7s;
}
.wrapper span:nth-child(7){
    left: 60%;
    animation-delay: 6s;
    width: 100px;
    height: 100px;
}
.wrapper span:nth-child(8){
    left: 70%;
    animation-delay: 8s;
}
.wrapper span:nth-child(9){
    left: 80%;
    animation-delay: 6s;
    width: 90px;
    height: 90px;
}
.wrapper span:nth-child(10){
    left: 90%;
    animation-delay: 4s;
}
@keyframes animate {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    80%{
        opacity: .7;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}


.navbar{
    height: 60px;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-color: transparent;
    background-image: url("/online_forum/UV\ b_w\ logo.jpg");
    background-size: cover;
    height: 50px;
    width:100% ;
}
.border{
    border:1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/* box 2 */
.deliver{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.india{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/* box3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color:pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgb(255,174,0);
    color: #0f1111;
}
.nav-search:hover{
    border: 2px solid orange;
}
/* box4 */
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/* box5 */
.nav-cart i{
    font-size: 30px;

}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    transition: var(--transition);
}

a:hover{
    text-decoration: underline;
}
.btn{
    padding: .7rem 1rem;
    border-radius: .3rem;
    cursor: pointer;
    font-size: var(--fs14);
    text-align: center;
    height: 3.6rem;
}

.btn:hover{
    text-decoration: none;
}
.btn-red{
    background-color: transparent;
    border: 0.1rem solid white;
    color: var(--whitecolor);
}
.btn-red:hover{
    background-color: transparent;

}
.btn-white{
    border: 0.2rem solid transparent;
    color: transparent;
}
.btn-white:hover{
    border: white;
}

main{
    padding: 12rem 0.5rem 2rem 0.5rem;
}

.box .left{
    float: left;
}
.box1 .left h2{
    font-size: var(--fs14);
    color: rgb(139, 223, 203);
    margin-bottom: 2.7rem;
}
.box1 .left .inner-left .box{
    display: flex;
    align-items: center;
    background-color: var(--whitecolor);
    padding: 0.9rem 1.2rem;
    border-radius: 0.7rem;
    margin-bottom: 0.9rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0 0 0 / 0.11),
                0 0.2rem 0.4rem rgba(0 0 0 / 0.11);
}
.box1 .left .inner-left .box .details{
    padding-left: 1.2rem;
}
.box1 .left .inner-left .box .details p {
    font-size: 1.3rem;
    text-transform: capitalize;
    color: transparent;
}

.box1 .left .inner-left .box .details h3{
    font-size: var(--fs18);
    font-weight: 700;
    color: aquamarine;
    letter-spacing: -0.02rem;
}

.box1 .left .inner-left .details .sub-details{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.4rem;
}
.box1 .left .inner-left .details .sub-details span{
    color: aquamarine;
}
.box1 .left .inner-left .details .sub-details .comment{
    padding: 0.2rem 0.8rem 0;
    background-color: white;
    color: white;
    font-size: 1.3rem;
    height: flex;
    align-items: center;
    gap: 0.4rem;
    border-radius: 0.3rem;
}
.box1 .box-first{
    float: right;
    margin-right: 90vh;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.box1 .right .box-first{
    padding: 1.8rem;
    background-color: transparent;
    border-radius: 0.5rem;
    margin-bottom: 0.9rem;
    box-shadow: 0 0.2rem 0.4rem white,
                0 0.2rem 0.4rem white;
}
.box1 .right .box-first h3{
    text-transform: capitalize;
    font-size: var(--fs24);
    line-height: 2.7rem;
    margin-bottom: 0.5rem;
    color: white;
}
.box1 .right .box-first span{
    display: block;
    color: #00ffff;
    text-transform: capitalize;
    font-size: var(--fs14);
    margin-bottom: 1.8rem;
    letter-spacing: -0.01rem;
}
.box1 .right .box-first p{
    font-size: var(--fs14);
    line-height: 1.5;
    margin-bottom: 0.3rem;
    color: aquamarine;
    max-height: 23rem;
    width: 100%;
    padding: 2rem;
    min-width: 8rem;
    text-transform: capitalize;
}
.box1 .right .box-first .buttons .btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.9rem;
}
footer{
    background-color: transparent;
    margin-top:0% ;
    padding: 1rem 0 3rem 0;
    color: transparent;
    font-size: var(--fs14);
}
.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50vh;
}
footer .container ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
footer .container ul li{
    position: relative;
    margin-right: 0.5rem;
}

footer .container ul li a{
    color: black;
    text-transform: capitalize;
    padding: 0.2rem 0.4rem;
    transition: all 0.3s ease;
}

footer .container ul li:last-child::before{
    content: "";
    position: absolute;
    width: 0.1rem;
    height: 1rem;
    background-color: gray;
    top: 50%;
    left: -0.8rem;
    transform: translate(-50%);
}

footer .container p{
    margin-bottom: 1rem;
    color: grey;
}

footer .container p:nth-of-type(3){
    max-width: 75rem;
}